<md-toolbar color="primary">
    <span style="margin-right:25px;">Quora</span>
      
    <nav>
      <a routerLink="/home" class="doc-button mat-button" routerLinkActive="" href="/home">Home</a>
      <a routerLink="/answers" class="doc-button mat-button" routerLinkActive="" href="/answers">Answers</a>
      <a routerLink="/notifications" class="doc-button mat-button" routerLinkActive="" href="/notifications">Notifications</a>
      <span class="fill-space"></span>
      <a routerLink="/" routerLinkActive=""></a>
    </nav>
        <md-icon mdPrefix style="margin-left:10px;"><i class="material-icons">search</i></md-icon>
        <input type="text" mdInput placeholder="Search Quora">
        <button class="doc-button mat-button" (click)="onSubmit(searchTerm.value)" color="primary" type="submit" id="searchBtn">GO!</button>
      <span>
        <button md-button [mdMenuTriggerFor]="menu">
        <md-icon><i class="material-icons">account_circle</i></md-icon>
        <md-menu #menu="mdMenu" [overlapTrigger]="false">
          <a md-menu-item routerLink="/profile" class="doc-button mat-button" routerLinkActive="" href="/profile">Profile</a>
          <a md-menu-item routerLink="/login" class="doc-button mat-button" href="/login">Logout</a>
        </md-menu>
        </button>
      </span>
    
    
    <router-outlet></router-outlet>
  </md-toolbar>

<md-grid-list cols="8" rowHeight="2:1"> 
  <div class="left">
    <md-grid-tile colspan="2">
      <md-nav-list>
        <a class="custom-list-item md-item-list-selected" md-list-item href="/home"> Questions For You </a>
        <a class="custom-list-item" md-list-item href="/home"> Answer Requests </a>
        <a class="custom-list-item" md-list-item href="/home"> Answer Later </a>
        <a class="custom-list-item" md-list-item href="/home"> Drafts </a>
      </md-nav-list>
    </md-grid-tile>
  </div>
  <div class="centre">
  <md-grid-tile colspan="4">
    <md-card *ngFor="let question of questions"> 
      <md-card-title> {{question.question}} </md-card-title> 
      <md-card-subtitle> <span style="margin-right:25px;">Last followed 30m ago</span><span>100 answers</span> </md-card-subtitle> 
      <md-card-content>  </md-card-content> 
      <md-card-actions> <button md-button class="answer-button vote-button" (click)="toggleAnswerDialog($event);">Answer</button> <button md-button class="vote-button">Pass</button> <button md-button class="vote-button">Follow</button> <button md-button class="vote-button">Downvote</button> </md-card-actions>
      <form [formGroup]="answerform" (ngSubmit)="postAnswer(answerform.value)" class="post-answer">
        <md-form-field class="form-element-width">
          <textarea mdInput formControlName="answer" [(ngModel)]="answer" placeholder="Your answer here"></textarea>
        </md-form-field>
        <input mdInput style="display:none;" formControlName="question_id" [(ngModel)]="question_id" value="{{question._id}}" />
        <md-card-actions> <button md-button type="submit" type="submit" class="custom-button">Submit Answer</button> </md-card-actions>
      </form> 
    </md-card>
    <md-card>
      
    </md-card>
  </md-grid-tile>
  </div>
  <div class="right">
  <md-grid-tile colspan="2"> 
      
  </md-grid-tile>
  </div>
</md-grid-list>
