<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar color="primary">
  <span style="margin-right:25px;">Quora</span>
    
  <nav>
    <a routerLink="/home" class="doc-button mat-button" routerLinkActive="" href="/home">Home</a>
    <a routerLink="/answers" class="doc-button mat-button" routerLinkActive="" href="/answers">Answers</a>
    <span class="fill-space"></span>
    <a routerLink="/" routerLinkActive=""></a>
  </nav>
      <md-icon mdPrefix style="margin-left:10px;"><i class="material-icons">search</i></md-icon>
      <input type="text" mdInput placeholder="Search Quora">
      <button class="doc-button mat-button" (click)="onSubmit(searchTerm)" color="primary" type="submit" id="searchBtn">GO!</button>
    <span>
      <button md-button (click)="logout()">Logout
      <!-- <md-icon><i class="material-icons">account_circle</i></md-icon>
      <md-menu #menu="mdMenu" [overlapTrigger]="false">
        <a md-menu-item routerLink="/profile" class="doc-button mat-button" routerLinkActive="" href="/profile">Profile</a>
        <a md-menu-item routerLink="/login" class="doc-button mat-button" href="/login">Logout</a>
      </md-menu> -->
      </button>
    </span>
  
  
  <router-outlet></router-outlet>
</md-toolbar>

<md-grid-list cols="8" rowHeight="2:1">
    <div class="left">

    </div>
    <div class="centre">
        <md-grid-tile colspan="4">
          <md-card>
              <md-card-title> 
                  {{question_name}}
              </md-card-title> 
              <md-card-subtitle> 
                <!-- <span style="margin-right:25px;">{{question.user.name}}</span> -->
                  <!-- <span>Answered {{question.date}}</span>  -->
              </md-card-subtitle> 
              <md-card-actions> <button md-button class="answer-button vote-button" (click)="toggleAnswerDialog($event);">Answer</button> <button md-button class="vote-button">Downvote</button> </md-card-actions>
              <form [formGroup]="answerform" (ngSubmit)="postAnswer(answerform.value, question)" class="post-answer">
                <md-form-field class="form-element-width">
                  <textarea mdInput formControlName="answer" [(ngModel)]="answer" placeholder="Your answer here"></textarea>
                </md-form-field>
                <md-card-actions> <button md-button type="submit" type="submit" class="custom-button">Submit Answer</button> </md-card-actions>
              </form>
          </md-card>
          <md-card *ngFor= "let a1 of answers">
              <!-- <div class="img-holder">
                  <img  id="image" src="./assets/LinkedInCover.jpg" class="user">
              </div>
              
            <md-card-title class="child"> 
              <a class="custom-list-item" md-list-item routerLink="/question/{{ question._id }}" routerLinkActive="active"> {{question.question}}  </a>
            </md-card-title> 
            <md-card-subtitle class="child"> <span style="margin-right:25px;">{{question.user.name}}</span>
            </md-card-subtitle> 
              <md-list-item> {{a1.answer}} </md-list-item> -->

           
          <div class="img-holder">
              <img  id="image" src="./assets/LinkedInCover.jpg" class="user">
          </div>
          <!-- <md-card-subtitle class="child"> <span style="margin-right:25px;">{{question.user.name}}</span>
             <span>Answered {{question.date}}</span> 
          </md-card-subtitle> -->
          <md-card-subtitle class="child"> <span style="margin-right:25px;">{{a1.user.name}}</span><span>Answered on {{a1.created_on}}</span> </md-card-subtitle> 
          <md-card-content> {{a1.answer}} </md-card-content>  
        </md-card>  
        </md-grid-tile>
    </div>
    <div class="right">
      
    </div>
</md-grid-list>