/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
  margin: 0; 
  background-color: #fafafa; 
}

.custom-button{
  background-color: #3f51b5;
  color: rgba(255,255,255,.87)!important;
}