.custom-menu-item{
    width: auto;
    color: rgba(255,255,255,.87);
}

.form-element-width{
    width: 100%;
}

md-card{
    overflow: auto;
}

md-grid-list{
    margin: 0 5px;
}

.custom-button{
    float: right;
}